* { 
    margin: 0; 
    padding: 0; 
}

.align {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hl {
    margin-bottom: 10px;

}

.hr-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

p.hr {
    padding-left: 6px;
    padding-right: 6px;
    color:#e73e68;
    text-decoration: underline;
    font-size: medium;
}

p.hr1{
    padding-top:2px;
    font-size: medium;
}

p.gb {
    border: 1px solid #e73e68;
    border-top: 0px transparent;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 6px;
    background-color:#ffe7ea
}

section.hr-bot {
    display: flex;
    justify-content: flex-end;
}

input.hr-bot {
    width: 240px;
    height: 25px;
    border: 1px solid #e73e68;
}

button.hr-bot {
    width: 30px;
    height: 30px;
}

section.make{
    display: flex;
}

b.make{
    border: 3px solid #80bf45;
    border-top-left-radius: 8px;
    background-color: #80bf45;
    color: white;
    padding-left: 25px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size:large;
}

div.make{
    border-right: 30px solid transparent;
    border-left:15px solid #80bf45;
    border-bottom: 34px solid #80bf45;
}

.make:hover {
    color: yellow;
    text-decoration: underline;
}

section.links {
    
    border-bottom: 2px solid #e73e68;
    background-color: #ffc1c9;
}

div.links{
    display: flex;
    justify-content: stretch;
}

p.links {
    padding: 10px;
    border: solid #ffa6b2 1px;
    border-bottom: transparent;
    border-top-color: #e73e68;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #ff809f;
    color: white;
    font-size: larger;
    margin-bottom: 0px;
    margin-top:10px;
}

p.links:hover{
    color:yellow;
}

#home{
    background-color: #e73e68;
}

#drop{
    display:flex;
}

section.drop{
    background-color: #e73e68;
    padding:20px;
    color:white;
}

.dl{
    margin-left: 10px;
    margin-right: 10px;
}

.dropCon {
    margin-bottom: 5px;
}

p.dropCon{
    width: 275px;
    font-size: larger;
}

h1{
    color:#ffff8a;
    font-size:xx-large;
}

.bling{
    height: 150px;
    border: 7px solid white;
    margin: 10px;
}

section.body{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom:40px;
}

footer {
    background-color: #ff7291;
    padding: 5px;
    height: 40px;
}

.test{
    display: flex;
    justify-content: end;
}

b.bottom {
    padding: 4px;
    color: white;
    font-size: medium;
}

b.bottom:hover{
    text-decoration: underline;
}

