


#home{
    background-color: #fd575f;
}

#drop{
    display:flex;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

section.drop{
    background-color: #fd575f;
    padding:20px;
    color:white;
}

.dl{
    margin-left: 10px;
    margin-right: 10px;
}

.dropCon {
    margin-bottom: 5px;
}

p.dropCon{
    width: 275px;
    font-size: larger;
}

h1{
    color:#ffff8a;
    font-size:xx-large;
}

.bling{
    height: 150px;
    border: 7px solid white;
    margin: 10px;
}

section.body{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom:40px;
}
